.primeiraLista{
    color:mediumslateblue;
}
.segundaLista{
     color: black;
}

#titulo{
    color:rgb(216,191,216);
}
.paragrafo{
    font-size:20px;
    font-family: monospace;
    font-weight: 20px;
    line-height: 5px;
    border: 15px solid red;
    border-width: 20px;
    border: solid;
    border-color: red;
}
